version: '3.8'

services:
  web:
    build: .
    volumes:
      - .:/app
      - recordings:/recordings
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --reload

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-pige}
      POSTGRES_USER: ${POSTGRES_USER:-pige}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pige}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  worker:
    build: .
    command: celery -A config.celery_app worker --loglevel=info --concurrency=2
    volumes:
      - .:/app
      - recordings:/recordings
    env_file:
      - .env
    depends_on:
      - redis
      - db

  beat:
    build: .
    command: celery -A config.celery_app beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
      - redis

volumes:
  pgdata:
  redisdata:
  recordings:

